
body {
    font-family: 'Roboto';
}
html,body{
    overflow-x: hidden;
    margin: 0;
}
a{
    text-decoration:none;
    color:black;
}
@import '../sass/base/normalize';
@import '../sass/abstracts/_variables';
@import '../sass/abstracts/mixins';
@import '../sass/layout/header';
@import '../sass/layout/footer';
@import '../sass/pages/home';
@import '../sass/pages/paletteDuGout';
